
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{list.title}">Title</title>
</head>
<body>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Vietnamese</a>
<a href="/create-customer">Create new customer</a>
<h1 th:text="#{list.heading}">Customers</h1>
<form th:text="#{list.search_label}">
  Search by first name:
  <input name="search" type="text"/>
  <input type="submit" value="Search"/>
</form>
<br/>
<table border="1">
  <tr>
    <th th:text="#{table_header.FN}">First name</th>
    <th th:text="#{table-header.LN}">Last name</th>
    <th th:text="#{table-header.Province}">Province</th>
    <th th:text="#{table-header.Edit}">Edit</th>
    <th th:text="#{table-header.Delete}">Delete</th>
  </tr>
  <th:block th:each="customer : ${customers}">
    <tr>
      <td th:text="${customer.firstName}"></td>
      <td th:text="${customer.lastName}"></td>
      <td th:if="${customer.province}" th:text="${customer.province.name}"></td>
      <td th:unless="${customer.province}"></td>
      <td><a th:text="#{table-header.Edit}" th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
      <td><a th:text="#{table-header.Delete}" th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
    </tr>
  </th:block>
</table>
<div>
  <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
  <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
  <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>
