<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Customer</title>
</head>
<body>
<h1>Add Customer</h1><br>
<form action="/create/customer"  method="post" th:object="${customerForm}">
  <label>Name</label>
  <input type="text" name="name" th:field="*{name}">
  <label>Address</label>
  <input type="text" th:field="*{address}">
  <lable>Email: </lable>
  <input type="text" th:field="*{email}">
  <button type="submit">Create</button>
</form>
</body>
</html>
