<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Form</title>
</head>
<body>
<h1>Delete</h1>
<h3>
    <a href="/blog">Back to Blog</a>
</h3>
<form action="/blog/delete" method="post" th:object="${blog}">
    <table>
        <tr>
            <td colspan="2">Do you want delete this blog?</td>
        </tr>
        <tr>
            <td>Title: </td>
            <input type="hidden" th:field="*{blogId}">
            <td><input th:field="*{title}" type="text"></td>
        </tr>
        <tr>
            <td>Category: </td>
            <td>
                <select th:field="*{category}">
                    <option th:each="cat : ${listCategory}" th:value="${cat.categoryId}" th:text="${cat.categoryName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Content: </td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
            <td><a href="/blog">Cancel</a></td>
        </tr>
    </table>
</form>

</body>
</html>