<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Blog Form</title>
</head>
<body>
<h1>Update Form</h1>
<h3><a href="/blog">Back To Blog</a></h3>
<th:block th:if="${message != null}">
  <p th:text="${message}"></p>
</th:block>
<form action="/blog/update" method="post" th:object="${blog}">
  <table>
    <tr>
      <td>Title: </td>
      <input type="hidden" th:field="*{blogId}">
      <td><input th:field="*{title}" type="text"></td>
    </tr>
    <tr>
      <td>Category: </td>
      <td>
        <select th:field="*{category}">
          <option th:each="cat : ${listCategory}" th:value="${cat.categoryId}" th:text="${cat.categoryName}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Content: </td>
      <td><input type="text" th:field="*{content}"></td>
    </tr>
    <tr>
      <td></td>
      <td><button type="submit">Submit</button></td>
    </tr>
  </table>
</form>
</body>
</html>