<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
</head>
<body>
<h1>Create New Product</h1>
<h4><a href="/">Back to Products</a></h4>
<th:block th:if="${message != null}">
  <p style="color: green" th:text="${message}"></p>
</th:block>
<form action="/create" method="post" th:object="${product}">
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" th:field="*{productName}"></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><input type="number" th:field="*{price}"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" th:field="*{description}"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>