<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>Products</h1>
<h3><a href="/create">Create New Product</a></h3>
<h3><a href="/shopping-cart">To your cart</a></h3>
<table>
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Action</td>
    </tr>
    <th:block th:each="product : ${listProducts}">
        <tr>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/addToCart(id=${product.getProductId()})}">Thêm vào giỏ hàng</a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>